<?php

/*
 * HTTP headers used for AppBeat authentication
 * Example:
 *     ['Authorization: Bearer YOUR_TOKEN']
 * or  ['X-Auth-Token: YOUR_TOKEN', 'X-Auth-Secret: YOUR_SECRET']
 */

$apiHeaders = ['Authorization: Bearer NotSet'];

?>
