<?php

$calendarId = 'sysadmin@dogsbody.com';
$apiKeyFile = '../../config/googlecalendar.json.config';
$cacheFile = '../../cache/googlecalendar.cache';
$cacheTime = 900;  // 15 minutes
$timezone = 'Europe/London';

?>
