<?php

/*
 * Replace "netdata.example.com" with your netdata parent endpoint
 * Replace "NotSet" with your API Key
 */

$apiUrl = "https://netdata.example.com/api/v2/nodes";
$apiHeaders = ['Authorization: Bearer NotSet'];

?>
