<?php

/*
 * HTTP headers used to authenticate with your Netdata instance
 * Example:
 *     ['Authorization: Bearer YOUR_TOKEN']
 * or  ['X-Auth-Token: TOKEN', 'X-Auth-Secret: SECRET']
 */

$apiUrl = "https://netdata.example.com/api/v2/nodes";
$apiHeaders = ['Authorization: Bearer NotSet'];

?>
